{% extends "layout.html" %}

{% block content %}
    <div class="content-section" style="background-color: #d0eebc;">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group row mb-2 mx-4">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group col-xs-3">
                    {{ form.symbol.label(class="form-control-label") }}
                    {% if form.symbol.errors %}
                        {{ form.symbol(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.symbol.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.symbol(autocomplete="off", autofocus="on", class="form-control", placeholder="e.g. 'AAPL'") }}
                    {% endif %}
                </div>
            </fieldset>
            <fieldset class="form-group row mb-2 mx-4"">
                <div class="form-group col-xs-3">
                    {{ form.shares.label(class="form-control-label") }}
                    {% if form.shares.errors %}
                        {{ form.shares(class="form-control is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.shares.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.shares(autocomplete="off", class="form-control", placeholder="Amount") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group row col-xs-3 mx-4"">
                {{ form.submit(class="btn btn-sm btn-outline-dark") }}
            </div>
        </form>
    </div>
{% endblock content %}