{% extends "layout.html" %}

{% block content %}
    <table class="table table-striped" style="background-color: #d0eebc;">
        <col width="90">
        <col width="90">
        <col width="90">
        <col width="170">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row['symbol'] }}</td>
                    <td>{{ row['quantity'] }}</td>
                    <td>{{ row['price'] }}</td>
                    <td>{{ row['transacted'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}